body {background-image: url(border.jpg); background-position:left; 
  background-repeat: repeat-y; margin-top:0; padding-top:0}

#logo {border-bottom-style: solid; 
   border-bottom-width:2px; 
   border-bottom-color:rgb(223,125,76)}

#links {color:green; font-family:Arial, Helvetica, sans-serif; font-size:8pt}
#links a {color:black; text-decoration:none}
#links a:hover {color:black; text-decoration:underline}
td {font-size:8pt; font-family: Arial, Helvetica, sans-serif}
.numbers {text-align:right; background-color:lightyellow}
.fmlabel {color:brown}

img.logo{
    padding-right: 20px;
  }
  h1.restaurantname{
    margin-top: 0px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li {
    float: left;
  }
  
  nav ul li.right {
    float: right;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 10px;
    background-color: rgb(229, 173, 156);
    color: white;
    text-align: auto;
    text-decoration: none;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
    background-color: rgb(141, 184, 181);
    width: auto;
  }
  
  header nav ul li a:hover {
    color: rgb(255, 241, 147);
  }
  
  header nav ul li {
    font-size: 0.99em; 
    line-height: 2em; 
  }
  
  header nav ul li a {
    color: white;
    display: block;
    width: 100%;
  }
  a#navicon {
    display: none;
  }
  
  body {
  
      background-color: white;
      box-shadow: rgb(190, 147, 147) 20px 0px 40px,  rgb(51, 51, 51) -20px 0px 40px,
                  inset rgb(51, 21, 21) 0px 0px 40px;
      border-left: 3px solid rgb(51, 51, 51);
      border-right: 3px solid rgb(51, 51, 51);
      min-height: 100%;  
      margin: 0px auto;
      min-width: 200px;
      max-width: 950px;  
      width: 100%;
   }
  
   html {
      background-image: url(main.jpeg);
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    fieldset{
        border: 1px solid rgb(186, 215, 114);
    }
  section {
    margin: 30px 5%;
  }
  section h1 {
    font-size: 1.5em;
  }
  
  section p {
    font-size: 0.9em;
  }
  
  footer {
    
    left: 90;
  bottom: 0;
  width: 91.65%;
  }
  
  footer {
    color: white;    
    background: linear-gradient(to bottom, rgb(229, 173, 156), rgb(197, 110, 83));   
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
     column-width: 200px;
  
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
     column-gap: 25px;
     
     padding: 20px 40px;
   
  }
  
  footer h1 {
    color: rgb(255, 241, 147);   
    font-size: 1em;
    margin: 10px 0px;
  }
  
  footer h1:first-of-type {
    margin-top: 0px;
  }
  
  footer a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer address {
    margin-top: 30px;
    font-style: normal;
  }
  input[type=checkbox]:checked {
  
    background-color: aqua;
  }
  
  @media only screen and (min-width: 641px) {
  
    body header nav ul {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -webkit-justify-content: center;
       justify-content: center;
    }
    
    body header nav ul li {
       -webkit-flex: 0 1 auto;
       flex: 0 1 auto;
    }
  }
  
  @media only screen and (max-width: 640px) {
  
   
    a#navicon {
       display: block;
    }
    
    header nav ul {
       display: none;
    }
    
    header nav ul li {
       font-size: 1em;
       line-height: 1.3em;
       height: 1.3em;
    }
    
    a#navicon:hover+ul, header nav ul:hover {
       display: block;
    }
    
    section h1 {
       font-size: 1.5em;
    }
    
    section p {
       font-size: 0.9em;
    }
  }
  