*{
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

img.logo{
  margin-right: 20px;
  width: 130px;
  height: 130px;
  margin-bottom: 0%;
 
}
header{
  margin-top: 0px;
  margin: none;
  margin-left: 0px;
}
header h1{
  color:rgb(255, 255, 163);
  text-shadow: 2px 4px 2px  rgb(248, 244, 244);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:3em;
   margin-left: 80px;
}

nav ul li {
  float: left;
}

nav ul li.right {
  float: right;
}
h1{
  color: rgb(255, 255, 131);
}
nav ul li a {
  display: block;
  padding: 10px 34.8px;
  background-color: rgb(52, 3, 3);
  color: white;
  text-align: auto;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: rgb(16, 20, 41);
  width: auto;
}

header nav ul li a:hover {
  color: rgb(255, 241, 147);
}

header nav ul li {
  font-size: 0.99em; 
  line-height: 2em; 
}

header nav ul li a {
  color: white;
  display: block;
  width: 100%;
}
a#navicon {
  display: none;
}

header{
  background-image: url(black.jpg);
}

body{
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #edc3ca, #c32e44);
  background-image: url(1234.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1.5%;
}
.container{
  color: #fff;
  max-width: 700px;
  width: 100%;
  background-color: rgb(27, 4, 4);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ecaad3, #4b58a3);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px;
   width: 100%;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e5c6b1, #d56d2b);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #fcd0da, #bf2448);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

footer {
  color: white;    
  background-color: rgb(52, 3, 3);   
}
footer table#footer{
  width: 100%;
 text-align: center;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
  margin-bottom:none;
}
footer h1 {
  color: rgb(255, 241, 147);   
  font-size: 1.6em;
}

footer table#footer tr{
  padding: none;
}


footer a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
 
}

footer a:hover {
  text-decoration: underline;
}

table#footer address p{
  font-style: normal;
 margin-top: 0%;
}
input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,input[type=tel]:hover{
  background-color: rgb(223, 171, 142);
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,input[type=tel]:focus{
  background-color: #fcd0da;
}
